/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



/* basic styling */
h2, h3 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	font-weight: bold;
}

a {
	color: gray;
	text-decoration: none;
	padding: 10px;
}



.anchors a:hover {
	color: black;
	background-color: gray;
	transition: all .4s ease-in-out;
}

/* Flex in the works below */
div.master-container {
	margin: 0 5%;
}

/* header */
header {
	width: 100%;
	top: 0;
	margin: 0 auto;
	position: fixed;
	z-index: -1%;
}
header nav {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
}

.anchors {
	display: flex;
	width: 80%;
	justify-content: space-between;
	padding: 0 2%;
}

.logo {
	display: flex;
	width: 10%;
	align-self: right;
	justify-content: space-evenly;

}


/* H1 and picture */

.container-one {
	display: flex;
	width: 100%;
	padding: 10% 2% 5% 2%;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;	
}


img {
	justify-content: stretch;
	width: 100%;

}


.left-side {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.container-one .left-side h1 {
	font-size: 90px;
	display: flex;
	align-items: center;

}
.anchor {
	padding: 2% 4%;
	width: 50%;
	border: 1px solid black;
}

.anchor a {
	color: black;
}

.anchor-one a{
	color: black;
}


.twocolumns, .threecolumns {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 5% 0;
}

.twocolumns {
	border-top: 1px solid black;
}

.threecolumns {
	border-bottom: 1px solid black;
}

.first, .second, .third, .fourth, .fifth  {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.first, .second {
	width: 49%;
}

.third, .fourth, .fifth {
	width: 33%;
}

footer {
	display: flex;
	flex-direction: column;
	padding: 3% 0;
}


footer div address {
	justify-content: left;
}

div.copyright {
	padding: 5%;
	text-align: center;
	justify-content: space-around;
}















